{{>partials/header}}


<h1>adicionar produtos<h1>

nome:<br>
<input type="text" id="nome" name="nome"> <br>
Email: <br>
<input type="number" id="preco" nome="preco" required> <br><br>
<input type="submit" value="Cadastrar">
</form>

{{>partials/footer}}